<!DOCTYPE html>
<html>
<head>
	<title>Message Board</title>
</head>
<body>
<% if(typeof(errors) != "undefined"){ %>
<%  for(var i in errors) {   %>
<div style="color: red;"><%= errors[i].message; %></div>
	<% } %>
<%  } %>
<form action="/add_post" method="post">
	<table>
		<tr>
			<td>Name:</td>
			<td><input type="text" name="name"></td>
		</tr>
		<tr>
			<td>Post</td>
			<td><textarea name="content"></textarea></td>
		</tr>
	</table>
	<input type="submit" value="Post">
	<a href="/">Home</a>
</form>
<% if(typeof(com_errors) != "undefined"){ %>
<%  for(var i in com_errors) {   %>
<div style="color: red;"><%= com_errors[i].message; %></div>
	<% } %>
<%  } %>
<%  if(typeof(infos) != "undefined"){ %>

<% for(var i in infos) { %>
		<h3>Name:<%= infos[i].name %></h3>
		<h3>Message:<%=  infos[i].content %></h3>
	<% for(var idx in comments) { %>
	<% if(comments[idx]._post == infos[i].id){ %>
		<p><%= comments[idx].name %> says: 
		<%= comments[idx].text %></p>
	<%     } %>
	<% } %>

	<table>
		<tr>
			<form action="add_comment/<%= infos[i].id %>" method="post">
			<td>Name:</td>
			<td><input type="text" name="name_com" ></td>
		</tr>
		<tr>
			<td>Comment:</td>
			<td><textarea name="content_com"></textarea></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Post a comment"></td>
		</tr>
			</form>
	</table>
		<br>
	<% } %>
<% } %>

</body>
</html>